<div class="grid-item">
  <div class="newsletter-container">
    <!-- Begin Mailchimp Signup Form -->
    <div class="form-container">
      <form
        action="//{{site.mailchimp}}"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
      >
        <label for="EMAIL"
          >Subscribe below to get future posts from<br /><span
            >{{site.author.name}}</span
          ></label
        >
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_becbf687e29d6ebb24d593c8b_d1b189ae5a"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="form-input">
          <input
            type="email"
            value=""
            name="EMAIL"
            class="email"
            id="mce-EMAIL"
            placeholder="Type your email..."
            required
          />
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button"
          />
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
</div>
