body {
  background-color: #1b2733;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  position: relative;
  padding: 1.6rem;
  position: relative;
}

.grid-container {
  position: relative;
  display: grid;
  max-width: 790px;
  margin: 0 auto;
  justify-content: center;
  row-gap: 1rem;
}

.grid-item {
  max-width: 702px;
}

.pagination {
  margin-top: 1rem;
  text-align: center;
  a {
    text-decoration: none;
    color: #eae7e4;
    padding: 0.3em 0.8em;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #eae7e4;
  }
}

.author-container {
  margin-top: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
  .logo-link {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    z-index: 1;
  }
  .author-name {
    text-decoration: none;
    letter-spacing: 2px;
    margin-top: 0rem;
    text-transform: uppercase;
    color: #a4a7a9;
  }
  img {
    color: transparent;
    width: 2.625em;
    height: 2.635em;
    border-radius: 100%;
    z-index: 1;
    position: relative;
  }
}

.post {
  margin-top: 0;
  text-align: center;
  color: #ece9e6;
  blockquote {
    font-style: italic;
    margin: 1.6rem;
    padding-block: 0;
    padding-inline-end: 0;
    padding-inline-start: 1.5rem;
    border-inline-start: 1px solid #3a444e;
  }
  cite {
    font-weight: bold;
  }
  a {
    color: #4e9df7;
  }
  .header {
    margin-bottom: 2.6rem;
  }
  .date {
    font-size: 14px;
    color: #8c9195;
  }
  .title {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 0rem;
    margin-bottom: 0.6rem;
  }
  .content {
    text-align: left;
    font-size: 17px;
    line-height: 1.6rem;
  }
  img {
    width: 100%;
    margin: 0.625rem 0;
    text-align: center;
  }
}

.newsletter-container {
  text-align: center;
  border-radius: 0.2rem;
  border: 1px solid #3a444e;
  color: #ece9e6;
  margin: 0 auto;
  max-width: 26rem;
  margin-bottom: 1.6rem;
  transform: rotate(-1deg);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
  padding: 2em;
  .form-input {
    display: flex;
    justify-content: center;
  }
  .title {
    font-weight: bold;
    font-size: 24px;
  }
  .content {
    margin-top: 1.6rem;
  }
  label {
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
  }
  input[type="email"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-top-left-radius: 3rem;
    border: 1px solid #3a444e;
    color: #ece9e6;
    font-size: 14px;
    border-right-color: transparent;
    border-bottom-left-radius: 3rem;
    background-color: #1b2733;
    ::placeholder {
      color: #5e656c;
      opacity: 1;
    }
  }
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
  input[type="submit"] {
    border: 1px solid #3a444e;
    border-left-color: transparent;
    margin: 8px 0;
    box-sizing: border-box;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    color: #ece9e6;
    font-size: 14px;
    padding: 0.5em 0.9em;
    cursor: pointer;
    background-color: #2d3643;
  }
}

.post-container {
  position: relative;
  padding: 1.6rem;
  border-radius: 0.2rem;
  border: 1px solid #3a444e;
  color: #ece9e6;
  text-align: center;
  .post-title {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 0rem;
    margin-bottom: 0.6rem;
  }
  .date {
    font-size: 14px;
    color: #8c9195;
  }
  .excerpt {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 3rem;
  }
  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    z-index: 1;
  }
  .read-more-section {
    padding: 1.75em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 0;
  }
  .read-more-button {
    color: #8c9195;
    padding: 0.3em 0.8em;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #3a444e;
  }
}
